.text-center {
  text-align: center;
}


.password-recovery {
  text-align: right;
  a {
    color: #7570f5;
    text-decoration: underline;
    cursor: pointer;
  }
}

.newRegister {
  text-align: center;
  margin-top: 50px;
  a {
    color: #7570f5;
    text-decoration: underline;
    cursor: pointer;
  }
}
