<div class="container mt-4 filter">
  <h5>Meus Agendamentos</h5>

  <select class="form-select" aria-label="Filtrar por:">
    <option selected>Filtrar por:</option>
    <option value="1">Barbearia</option>
    <option value="2">Serviço</option>
    <option value="3">Data</option>
  </select>
</div>

<div class="container mt-4 scheduling">
  <div class="row">
    <div class="d-flex justify-content-center" *ngIf="isLoad">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Buscando seues agendamentos</span>
      </div>
    </div>
    <p class="text-danger" *ngIf="schedulings?.length===0">Você não possui agendamentos realizados.</p>
    <ng-container *ngFor="let sc of schedulings; let i = index">

      <div class="col-12 barber-card" (click)="toggleCollapse(sc.id)" [attr.data-bs-target]="'#card-' + i"
        aria-expanded="false" [attr.aria-controls]="'card-' + i">
        <div class="p-3 card-barber">
          <div>
            <img src="assets/images/logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
          </div>
          <div>
            <h6 [innerText]="sc.company.name"></h6>
            <p class="text-muted"
              [innerText]="sc.company.address.street+' '+sc.company.address.city+'/'+sc.company.address.state"></p>
            <p><i class="fas fa-map-marker-alt text-danger"></i> 0 - KM</p>
          </div>

        </div>
        <div class="p-3 card-details">
          <h6> <i class="bi bi-calendar-date"></i> {{sc.date}}</h6>
          <h6> <i class="bi bi-clock-history"></i> {{sc.date}}</h6>
        </div>
      </div>
      <div class="collapse" [id]="'card-' + i" [class.show]="collapsedStates[sc.id]">
        <div class="card card-body card-detail">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Barbearia</th>
                <th scope="col">Serviço</th>
                <th scope="col">Valor</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" [innerText]="i+1"></th>
                <td [innerText]="sc.company.name"></td>
                <td [innerText]="sc.serviceEntity.name"></td>
                <td [innerText]="sc.serviceEntity.price | currency:'BRL':'symbol':'1.2-2'"></td>
                <td [innerText]="sc.status"></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
