<nav class="navbar navbar-expand-lg colorDefault">
  <div class="container">
    <img src="assets/images/logo.png" alt="BarberTEch" width="40px">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/scheduling">Meus Agendamentos</a>
        </li>
      </ul>
      <!-- Botão para abrir o modal -->
      <button class="btn btn-primary btn-rounded btn-icon" data-bs-toggle="modal" data-bs-target="#loginModal"
        role="button">
        <i class="fas fa-user"></i> Entrar
      </button>

      <!-- Modal de login/sing-up -->
      <app-modal-auth></app-modal-auth>

    </div>
  </div>
</nav>
