<div class="container">
  <form class="d-flex mt-4" role="search">
    <div class="input-group">
      <button class="btn search-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <input [(ngModel)]="searchQuery" (input)="onSearchInput()" class="form-control search-input" type="search"
        placeholder="Encontre um estabelecimento" name="search" aria-label="Buscar">
    </div>
  </form>
</div>
<div class="container mt-4">
  <h5>Barbearias Próximas</h5>
</div>
<div class="container mt-4">
  <div class="row">

    <div class="d-flex justify-content-center" *ngIf="isLoad">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Buscando barbearias proximas de você...</span>
      </div>
    </div>

    <div class="col-md-3 mb-4" *ngFor="let barber of barbers">
      <div class="barber-card p-3 text-center" (click)="openModal(barber)">
        <img src="assets/images/logo.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6 [innerText]="barber.name"></h6>
        <p class="text-muted" [innerText]="barber.address.street+' '+barber.address.city+'/'+barber.address.state"></p>
        <!--<p><i class="fas fa-map-marker-alt text-danger"></i> 0 - km</p>-->
      </div>
    </div>

    <!-- Modal Component -->
    <app-modal-scheduling *ngIf="selectedBarber !== null" [barber]="selectedBarber" (close)="closeModal()">
    </app-modal-scheduling>
  </div>
</div>
