<div class="container">
  <form class="d-flex mt-4" role="search">
    <div class="input-group">
      <button class="btn search-btn" type="submit">
        <i class="fas fa-search"></i> <!-- Ícone de lupa -->
      </button>
      <input class="form-control search-input" type="search" placeholder="Encontre um estabelecimento"
        aria-label="Buscar">
    </div>
  </form>
</div>
<div class="container mt-4">
  <h5>Barbearias Próximas</h5>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="barber-card p-3 text-center">
        <img src="logoBarbearia.png" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6>Barbearia Dom Renato</h6>
        <p class="text-muted">Rua A5, Natal - RN</p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> 31,21Km</p>
      </div>
    </div>
  </div>
</div>
