<div class="container">
  <form class="d-flex mt-4" role="search">
    <div class="input-group">
      <button class="btn search-btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <input class="form-control search-input" type="search" placeholder="Encontre um estabelecimento"
        aria-label="Buscar">
    </div>
  </form>
</div>
<div class="container mt-4">
  <h5>Barbearias Próximas</h5>
</div>
<div class="container mt-4">
  <div class="row">

    <div class="col-md-3 mb-4" *ngFor="let barber of barbers">
      <div class="barber-card p-3 text-center" (click)="openModal(barber)">
        <img [src]="barber.logo" alt="Logo da Barbearia" class="barber-logo mb-2">
        <h6 [innerText]="barber.name"></h6>
        <p class="text-muted" [innerText]="barber.address"></p>
        <p><i class="fas fa-map-marker-alt text-danger"></i> {{barber.distance}}</p>
      </div>
    </div>

    <!-- Modal Component -->
    <app-modal-scheduling *ngIf="selectedBarber !== null" [barber]="selectedBarber" (close)="closeModal()">
    </app-modal-scheduling>
  </div>
</div>
